<div class="item">
    <h4> {{name}}</h4>
    <p> Price: ${{price}}</p>
    <p> {{description}}</p>
    <span></span>
    {{!-- {{#if loggenIn}} --}}
    <button id="product{{id}}">Add-cart</button>
    {{!-- {{/if}} --}}
</div>