<div class="item">
    <h4> {{name}}</h4>
    <p> Price: ${{price}}</p>
    <p> {{description}}</p>
    <span></span>
    <button class="btn btn-danger">Add-cart</button>
    {{!-- /*if user is owner? --}}
    {{!-- {{#if loggedIn}} --}}
      <a class="btn btn-primary" href="/menu/edit/{{id}}">Editar </a>
    {{!-- {{/if}} --}}
    
    
</div>