<form class="new-menu-form" id="owner{{id}}">
    <div>
        <label for="restaurant-name">Enter the name of the restaurant this menu will be assigned to: </label>
        <input type="text" id="restaurant-name" />
    </div>
</form>

<script src="/javascript/add-menu.js"></script>