<form class="new-product-form" id="owner{{id}}">
    <div>
        <label for="product-name">Product Name: </label>
        <input type="text" id="product-name" />
    </div>

    <div>
        <label for="product-price">Price: </label>
        <input type="text" id="product-price" />
    </div>

    <div>
        <label for="product-description">Description: </label>
        <input type="text" id="product-description" />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script src="/javascript/add-product.js"></script>