<div class="container" style="margin-bottom: 6%;">
    <div class="container" style="padding-top:6%;">
      <div class="row">
      <p class="col-sm-8 col-md-6" style="padding: 10px;">
        Explore restaurants that deliver near you, and try yummy food.
        With a place for every taste, it's easy to find food you crave,
        and order online. Find great meals fast with lots of local menus.
        Enjoy eating the convenient way with places that deliver to your door.

      </p>
      <img class="col-sm-4 col-md--6" src="./images/food.jpg" alt="">
      </div>
    </div>

    <div class="container" style="padding-top:6%;">
      <h4>
        Restaurant Owners: Sign up now!
      </h4>
      <p>
        Get more delivery orders from hungry customers waiting to try new local restaurrants.
        <a class="login-link" href="/owner-signup">Sign up</a> with Upscale Delivery for restaurants to access our
        hassle free technology and marketing tools
        that will help your business grow. join its easy to get started!
      </p>
    </div>

    <div class="container" style="padding-top:6%;">
      <h4>
        About Us:
      </h4>
      <p>
        Upscale Delivery help you order from your local restaurants from wherever you are.
        How it works: you sign up and we tell you restaurants available near you.
        When you find what youre looking for, you can just press "add to cart" and begin your order.
        Oh, and we also give you access to a 24/7 customer care team that tracks each order and makes sure you get
        exactly what you want.
      </p>
    </div>
</div>
