<section>
    {{#each items as |item|}}
    {{> menu-item item}}
    {{/each}}
</section>

{{!-- this is where the items from the cart will show up --}}
<div id="cart">

    <button id="checkout-button">🛒</button>
</div>

<script type="text/javascript" src="/javascript/menu.js"></script>