<h1><i class="fa fa-shopping-cart"></i></h1>
<section>
    {{#each items}}
    <div class="item">
        <h5> {{name}}</h5>
        <h6> {{price}}</h6>
        <p> {{description}}</p>
        <span></span>
        <button>Add-cart</button>
    </div>
    {{/each}}
</section>

{{!-- this is where the items from the cart will show up --}}
<div class="select">

</div>

<script type="text/javascript" src="./javascript/menu.js"></script>