<section>
    {{#each restaurants as |restaurant|}}
        {{> restaurant restaurant}}
        <button class="res-button" id="restaurant{{restaurant.id}}">View Menu</button>
    {{/each}}
</section>

<script type="text/javascript" src="./javascript/restaurants.js"></script>