<form class="signup-form">
    <div>
        <a class="signup-link" href="/owner-signup">Restaurant Owner Signup Form</a>
    </div>
    <div>
        <a class="login-link" href="/login">Existing User Login</a>
    </div>

    <div class="singup-names">
        <label for="name-login">First Name: </label>
        <input type="text" id="firstname-signup" />
    </div>

    <div>
        <label for="lastname-login">Last Name: </label>
        <input type="text" id="lastname-signup" />
    </div>

    <div>
        <label for="username-signup">Username: </label>
        <input type="text" id="username-signup" />
    </div>

    <div>
        <label for="email-signup">Email: </label>
        <input type="text" id="email-signup" />
    </div>

    <div>
        <label for="address-signup">Address: </label>
        <input type="text" id="address-signup" />
    </div>

    <div>
        <label for="phone-signup">Address: </label>
        <input type="text" id="phone-signup" />
    </div>

    <div>
        <label for="password-signup">Password (Minimum 6 Characters): </label>
        <input type="password" id="password-signup" />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>