<div class="container" style="margin-top: 4%; margin-bottom:6%">
    <form class="signup-form">
        <div class="form-group">
            <a class="signup-link" href="/owner-signup">Restaurant Owner Signup Form</a>
        </div>
        <div class="form-group">
            <a class="login-link" href="/login">Existing User Login</a>
        </div>

        <div class="form-group">
            <label for="name-login">First Name: </label>
            <input class="form-control" type="text" id="firstname-signup" />
        </div>

        <div class="form-group">
            <label for="lastname-login">Last Name: </label>
            <input class="form-control" type="text" id="lastname-signup" />
        </div>

        <div class="form-group">
            <label for="username-signup">Username: </label>
            <input class="form-control" type="text" id="username-signup" />
        </div>

        <div class="form-group">
            <label for="email-signup">Email: </label>
            <input class="form-control" type="text" id="email-signup" />
        </div>

        <div class="form-group">
            <label for="address-signup">Address: </label>
            <input class="form-control" type="text" id="address-signup" />
        </div>

        <div class="form-group">
            <label for="phone-signup">Phone number: </label>
            <input class="form-control" type="text" id="phone-signup" />
        </div>

        <div class="form-group">
            <label for="password-signup">Password (Minimum 6 Characters): </label>
            <input class="form-control" type="password" id="password-signup" />
        </div>

        <button class="btn btn-success"type="submit">Submit</button>

    </form>
</div>

<script src="/javascript/signup.js"></script>