<form class="user-update-form" id="user{{id}}">
    <div>
        <label for="address-update">Address: </label>
        <input type="text" id="address-update" />
    </div>

    <div>
        <label for="phone-update">Phone Number: </label>
        <input type="text" id="phone-update" />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{{#if isOwner}}
<div>
    <a href="/restaurants/add-restaurants">Click Here to Add a New Restaurant</a>
</div>
<div class="restaurants-container">
    <h3>Your Restaurants</h3>
    {{#each restaurants as |this|}}
    {{#if (check_equal current_owner owner_id)}}
    <div class="single-restaurant">
        {{> restaurant this}}
    </div>
    {{/if}}
    {{/each}}
    {{#if restaurants}}
    <button id="edit-button">Admin Page</button>
    {{else}}
    {{/if}}
</div>
{{/if}}

{{#if isOwner}}
<script src="/javascript/update-owner.js"></script>
{{else}}
<script src="/javascript/update-user.js"></script>
{{/if}}